name: release-base

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: # used for testing

permissions:
  contents: read

jobs:
  release-base:
    permissions:
      contents: write
      packages: write
      id-token: write
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 360
    strategy:
      fail-fast: true
      matrix:
        runtime:
          - base
          - applesilicon
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set runtime variables for matrix
        run: |
          if [ ${{ matrix.runtime }} == "base" ]; then
            echo PLATFORMS="linux/amd64,linux/arm64" >> $GITHUB_ENV
            echo FILE="Dockerfile.base" >> $GITHUB_ENV
            echo TAG="ghcr.io/kaito-project/aikit/base:latest" >> $GITHUB_ENV
            echo CACHE_FROM="type=gha,scope=base" >> $GITHUB_ENV
            echo CACHE_TO="type=gha,scope=base,mode=max" >> $GITHUB_ENV
          elif [ ${{ matrix.runtime }} == "applesilicon" ]; then
            echo PLATFORMS="linux/arm64" >> $GITHUB_ENV
            echo FILE="Dockerfile.base-applesilicon" >> $GITHUB_ENV
            echo TAG="ghcr.io/kaito-project/aikit/applesilicon/base:latest" >> $GITHUB_ENV
            echo CACHE_FROM="type=gha,scope=base-applesilicon" >> $GITHUB_ENV
            echo CACHE_TO="type=gha,scope=base-applesilicon,mode=max" >> $GITHUB_ENV
          fi

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          push: true
          sbom: true
          provenance: true
          tags: ${{ env.TAG }}
          cache-from: ${{ env.CACHE_FROM }}
          cache-to: ${{ env.CACHE_TO }}
          platforms: ${{ env.PLATFORMS }}
          file: ${{ env.FILE }}

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: cosign sign --yes "ghcr.io/kaito-project/aikit/base@${DIGEST}"

      - name: Verify image signature
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: |
          cosign verify ghcr.io/kaito-project/aikit/base@${DIGEST} \
            --certificate-oidc-issuer https://token.actions.githubusercontent.com \
            --certificate-identity https://github.com/kaito-project/aikit/.github/workflows/release-base.yaml@refs/heads/main
